*,body,html{
  padding: 0;
  margin: 0;
}

.jumbotron-img {
  background-image: url(/src/assets/img/gradient12.webp);
  width: 100%;
  padding: 80px 50px;
  border-radius: 0%;
  position: relative;
}

#jumbotron-card {
  background-color: hsl(0, 0%, 0%);
  border-radius: 0%;
  padding: 50px;
 }

#jumbotron-card,h3{
  font-size: 35px;
  font-weight: 700;
}
#jumbotron-card{
  font-size: 20px;
  font-weight: 500;
}
#cards-doacao {
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: hsl(165, 33%, 52%);

}